body.light-theme {
  background-color: white;
  color: black;
}

body.dark-theme {
  background-color: #1e1e1e;
  color: white;
}

button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
